<div class="container flex__column animate__animated animate__fadeIn">
  <h1 class="text__title">Receta Medica</h1>
  <div class="row__item">
    <div class="group__form mr_1 w__30">
      <input
        type="date"
        class="input__control"
        placeholder=" "
        (change)="onRecetaMedica($event.target.value)"
      />
      <label class="label__control">Ingresa la fecha</label>
    </div>
    <div class="group__form group__flex">
      <button type="button" (click)="onRegistrar()" class="btn">
        + Agregar
      </button>
    </div>
  </div>
  <div class="table__desktop">
    <div class="row__header__desktop">
      <div class="cell">Tipo doc.</div>
      <div class="cell">N° doc.</div>
      <div class="cell">Nombre</div>
      <div class="cell">Apellido</div>
      <div class="cell">Edad</div>
      <div class="cell">Genero</div>
      <div class="cell">Diagnostico</div>
      <div class="cell">
        <img src="assets/icon/lupa.png" class="img__icon__search" />
      </div>
    </div>
    <ng-container
      *ngFor="
        let data of datas$
          | async
          | paginate: { itemsPerPage: 5, currentPage: p };
        index as i
      "
    >
      <div class="menu__movil dropdown">
        <input
          type="checkbox"
          id="{{ 'settings' + i }}"
          name="settings"
          class="input__checkbox"
        />
        <label class="label__checkbox" for="{{ 'settings' + i }}">
          <img src="assets//icon/menu.png" class="actions__icons" />
        </label>

        <div class="dropdown__content">
          <a [href]="data.urlPdf" target="_blank">
            <div class="dropdown__item">
              <img src="assets/icon/pdf__blackWhite.png" class="img__icon" />
              <span>PDF</span>
            </div>
          </a>
          <div class="dropdown__item">
            <img src="assets/icon/delete_black_white.svg" class="img__icon" />
            <span>Eliminar</span>
          </div>
          <div class="dropdown__item" (click)="onViews(data)">
            <img src="assets/icon/lupa.png" class="img__icon" />
            <span>views</span>
          </div>
          <div class="dropdown__item">
            <img src="assets/icon/editar-texto.png" class="img__icon" />
            <span>Editar</span>
          </div>
        </div>
      </div>
      <div class="table__">
        <div class="row__header">
          <div class="cell">Tipo doc.</div>
          <div class="cell">N° doc.</div>
          <div class="cell">Nombre</div>
          <div class="cell">Apellido</div>
          <div class="cell">Edad</div>
          <div class="cell">Genero</div>
          <div class="cell">Diagnostico</div>
          <div class="cell menu__desktop">&nbsp;</div>
        </div>
        <div class="row__body">
          <div class="cell">{{ data.descripcionTipoDeDocumento }}</div>
          <div class="cell">{{ data.numeroDeDocumento }}</div>
          <div class="cell">{{ data.nombre }}</div>
          <div class="cell">{{ data.apellido }}</div>
          <div class="cell">{{ data.edad }}</div>
          <div class="cell">{{ data.genero }}</div>
          <div class="cell">{{ data.diagnostico }}</div>
          <div class="cell dropdown menu__desktop">
            <img
              src="assets/icon/settings__option.svg"
              class="actions__icons"
            />
            <div class="dropdown__content">
              <a [href]="data.urlPdf" target="_blank">
                <div class="dropdown__item">
                  <img
                    src="assets/icon/pdf__blackWhite.png"
                    class="img__icon"
                  />
                  <span>PDF</span>
                </div>
              </a>
              <div class="dropdown__item">
                <img
                  src="assets/icon/delete_black_white.svg"
                  class="img__icon"
                />
                <span>Eliminar</span>
              </div>
              <div class="dropdown__item" (click)="onViews(data)">
                <img src="assets/icon/lupa.png" class="img__icon" />
                <span>views</span>
              </div>
              <div class="dropdown__item">
                <img src="assets/icon/editar-texto.png" class="img__icon" />
                <span>Editar</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="table__footer">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
