<div class="container flex__column animate__animated animate__fadeIn">
  <h1 class="text__title">Receta Medica</h1>
  <div class="row__item">
    <div class="group__form mr_1 w__30">
      <input
        type="date"
        class="input__control"
        placeholder=" "
        (change)="onRecetaMedica($event.target.value)"
      />
      <label class="label__control">Ingresa la fecha</label>
    </div>
    <div class="group__form">
      <button type="button" class="btn">Buscar</button>
    </div>
    <button type="button" (click)="onRegistrar()" class="btn h__45 prl_1">
      + Agregar
    </button>
  </div>

  <div class="table__desktop">
    <div class="row__header__desktop">
      <div class="cell">Tipo documento</div>
      <div class="cell">N° documento</div>
      <div class="cell">Nombre</div>
      <div class="cell">Apellido</div>
      <div class="cell">Edad</div>
      <div class="cell">Genero</div>
      <div class="cell">Diagnostico</div>
      <div class="cell">&nbsp;</div>
    </div>
    <div class="table" *ngFor="let data of datas$ | async">
      <div class="row__header">
        <div class="cell">Tipo documento</div>
        <div class="cell">N° documento</div>
        <div class="cell">Nombre</div>
        <div class="cell">Apellido</div>
        <div class="cell">Edad</div>
        <div class="cell">Genero</div>
        <div class="cell">Diagnostico</div>
        <div class="cell">&nbsp;</div>
      </div>
      <div class="row__body">
        <div class="cell">{{ data.descripcionTipoDeDocumento }}</div>
        <div class="cell">{{ data.numeroDeDocumento }}</div>
        <div class="cell">{{ data.nombre }}</div>
        <div class="cell">{{ data.apellido }}</div>
        <div class="cell">{{ data.edad }}</div>
        <div class="cell">{{ data.genero }}</div>
        <div class="cell">{{ data.diagnostico }}</div>
        <div class="cell" (click)="viewPdf(data)">
          <a [href]="data.urlPdf" target="_blank">
            <img
              src="../../../../assets/icon/pdf.png"
              width="30px"
              height="30px"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
