<div
  class="container flex__column animate__animated animate__fadeIn"
  *ngIf="datas$ | async as datas"
>
  <h1 class="text__title">Receta Medica</h1>
  <!-- <a [href]="urlFirma">Firma</a> -->
  <a
    href="watana:?url_descarga=http://localhost:8080/paper.pdf&url_subida=http://localhost:8080/subir?id=paper.pdf&firma_x=315&firma_y=120&firma_largo=232&firma_alto=50&firma_texto=Firmado+por%3A+%3CSIGNER%3E%0D%0A%3CORGANIZATION%3E%0D%0AFecha%3A+%3CDATE%3E%0D%0APor+www.watana.pe&firma_pagina=1"
    >Firmar</a
  >
  <div class="group__flex">
    <fieldset class="container__leyenda">
      <legend>Leyenda</legend>
      <div class="leyenda__item">
        <span class="text__leyenda status__danger">&nbsp;</span>
        <span>Generado</span>
      </div>
      <div class="leyenda__item">
        <span class="text__leyenda status__info">&nbsp;</span>
        <span>Firmado</span>
      </div>
      <div class="leyenda__item">
        <span class="text__leyenda status__warning">&nbsp;</span>
        <span>Visualizado</span>
      </div>
      <div class="leyenda__item">
        <span class="text__leyenda status__succes">&nbsp;</span>
        <span>Atendido</span>
      </div>
    </fieldset>
  </div>
  <div class="row__item">
    <div class="group__form mr_1 w__30">
      <input
        type="date"
        class="input__control"
        placeholder=" "
        (change)="onRecetaMedica($event.target.value)"
      />
      <label class="label__control">Ingresa la fecha</label>
    </div>
    <div class="group__form group__flex" *ngIf="datas.length > 0">
      <button type="button" (click)="onRegistrar()" class="btn">
        + Agregar
      </button>
    </div>
    <div class="group__form menu__movil">
      <input
        type="search"
        placeholder="Busqueda de paciente por documento,nombre"
        class="input__control"
        (keyup)="Search($event.target)"
      />
      <label class="label__control">Buscar paciente</label>
    </div>
  </div>
  <div class="table__desktop" *ngIf="datas.length > 0; else message">
    <div class="row__header__desktop">
      <div class="cell">Tipo doc.</div>
      <div class="cell">N° doc.</div>
      <div class="cell">Nombre</div>
      <div class="cell">Apellido</div>
      <div class="cell">Edad</div>
      <div class="cell">Genero</div>
      <div class="cell">Diagnostico</div>
      <div class="cell dropdown">
        <input type="checkbox" class="input__checkbox" id="search" />
        <label class="label__" for="search">
          <img src="assets/icon/search__black.svg" class="img__icon__search" />
        </label>
        <div class="content__search">
          <input
            type="search"
            class="input__search"
            autofocus
            placeholder="Busqueda de paciente por documento,nombre"
            (keyup)="Search($event.target)"
          />
        </div>
      </div>
    </div>
    <ng-container
      *ngFor="
        let data of datas
          | paginate: { itemsPerPage: 3, currentPage: p }
          | filterMedicamento: parameterSearch;
        index as i
      "
    >
      <div class="menu__movil dropdown">
        <input
          type="checkbox"
          id="{{ 'settings' + i }}"
          name="settings"
          class="input__checkbox"
        />
        <label class="label__checkbox" for="{{ 'settings' + i }}">
          <img src="assets//icon/menu.png" class="actions__icons" />
        </label>

        <div class="dropdown__content">
          <a [href]="data.urlPdf" target="_blank">
            <div class="dropdown__item">
              <img src="assets/icon/pdf__blackWhite.png" class="img__icon" />
              <span>PDF</span>
            </div>
          </a>
          <div class="dropdown__item">
            <img src="assets/icon/delete_black_white.svg" class="img__icon" />
            <span>Eliminar</span>
          </div>
          <div class="dropdown__item" (click)="onViews(data)">
            <img src="assets/icon/lupa.png" class="img__icon" />
            <span>views</span>
          </div>
          <div class="dropdown__item">
            <img src="assets/icon/editar-texto.png" class="img__icon" />
            <span>Editar</span>
          </div>
        </div>
      </div>
      <div class="table__ {{ data.status }}">
        <div class="row__header">
          <div class="cell">Tipo doc.</div>
          <div class="cell">N° doc.</div>
          <div class="cell">Nombre</div>
          <div class="cell">Apellido</div>
          <div class="cell">Edad</div>
          <div class="cell">Genero</div>
          <div class="cell">Diagnostico</div>
          <div class="cell menu__desktop">&nbsp;</div>
        </div>
        <div class="row__body">
          <div class="cell">{{ data.descripcionTipoDeDocumento }}</div>
          <div class="cell">{{ data.numeroDeDocumento }}</div>
          <div class="cell">{{ data.nombre }}</div>
          <div class="cell">{{ data.apellido }}</div>
          <div class="cell">{{ data.edad }}</div>
          <div class="cell">{{ data.genero }}</div>
          <div class="cell">{{ data.diagnostico }}</div>
          <div class="cell dropdown menu__desktop">
            <img
              src="assets/icon/settings__option.svg"
              class="actions__icons"
            />
            <div class="dropdown__content">
              <a [href]="data.urlPdf" target="_blank">
                <div class="dropdown__item">
                  <img
                    src="assets/icon/pdf__blackWhite.png"
                    class="img__icon"
                  />
                  <span>PDF</span>
                </div>
              </a>
              <div class="dropdown__item">
                <img
                  src="assets/icon/delete_black_white.svg"
                  class="img__icon"
                />
                <span>Eliminar</span>
              </div>
              <div class="dropdown__item" (click)="onViews(data)">
                <img src="assets/icon/lupa.png" class="img__icon" />
                <span>views</span>
              </div>
              <div class="dropdown__item">
                <img src="assets/icon/editar-texto.png" class="img__icon" />
                <span>Editar</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="table__footer">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
<ng-template #message>
  <div class="container__car">
    <div class="card" (click)="onRegistrar()">
      <img src="../../../../assets/icon/new-document.png" class="img__lg" />
      <h3 class="title__h1">No hay data</h3>
      <button class="btn__" (click)="onRegistrar()">Agregar receta</button>
    </div>
  </div>
</ng-template>
