<div class="container-form">
  <div class="card-form">
    <form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h1 class="form-title">Login</h1>
      <div class="group-form" [class.message__height]="userRequired">
        <input
          type="text"
          class="form-input"
          placeholder=" "
          formControlName="user"
        />
        <label class="label-control">User</label>
        <div *ngIf="userRequired" class="message__error">
          <span>error</span>
        </div>
      </div>

      <div class="group-form" [class.message__height]="passwordRequired">
        <input
          type="password"
          class="form-input"
          placeholder=" "
          formControlName="password"
        />
        <label class="label-control">Password</label>
        <div *ngIf="passwordRequired" class="message__error">
          <span>error</span>
        </div>
      </div>
      <div class="group-form">
        <button type="submit" class="btn-login">Sign in</button>
      </div>

      <div class="form__footer">
        <span class="form__footer_item"
          ><a routerLink="">¿Recuperar contraseña?</a></span
        >
        <span class="form__footer_item"
          ><a routerLink="registrar">Registrarse</a></span
        >
      </div>
    </form>
  </div>
</div>
<app-toaster></app-toaster>
