<div class="container-form">
  <div class="card-form">
    <form autocomplete="off">
      <h1 class="form-title">Login in</h1>
      <div class="group-form">
        <input type="text" id="user" class="form-input" placeholder=" " />
        <label class="label-control">Email</label>
      </div>
      <div class="group-form">
        <input type="text" id="password" class="form-input" placeholder=" " />
        <label class="label-control">Password</label>
      </div>
      <div class="group-form">
        <button type="button" class="btn-login">Sign in</button>
      </div>
    </form>
  </div>
</div>
