<div class="container flex__column animate__animated animate__fadeIn">
  <h1 class="text__title">Registrar Receta Medica</h1>
  <div class="row__item">
    <div class="group__form mr_1 w__30">
      <input type="text" class="input__control" placeholder=" " />
      <label class="label__control">Historia</label>
    </div>
    <div class="group__form">
      <input type="text" class="input__control" placeholder=" " />
      <label class="label__control">Nombre</label>
    </div>
  </div>
  <div class="row__item">
    <div class="group__form mr_1 w__30">
      <input type="text" class="input__control" placeholder=" " />
      <label class="label__control">CM</label>
    </div>
    <div class="group__form">
      <input type="text" class="input__control" placeholder=" " />
      <label class="label__control">Nombre Medico</label>
    </div>
  </div>
  <div class="group__form">
    <input type="text" class="input__control" placeholder=" " />
    <label class="label__control">Especialidad</label>
  </div>
  <div class="row__item">
    <div class="group__form mr_1 w__30">
      <input type="text" class="input__control" placeholder=" " />
      <label class="label__control">Dx</label>
    </div>
    <div class="group__form">
      <input type="text" class="input__control" placeholder=" " />
      <label class="label__control">Descripcion</label>
    </div>
  </div>
  <div class="group__form">
    <button class="btn">Guardar</button>
  </div>
</div>
