<div class="container flex__column animate__animated animate__fadeIn">
  <h1 class="text__title">Registrar Receta Medica</h1>
  <div class="row__item">
    <div class="group__form mr_1 w__30">
      <input type="text" class="input__control" placeholder=" " />
      <label class="label__control">Historia</label>
    </div>
    <div class="group__form">
      <input type="text" class="input__control" placeholder=" " />
      <label class="label__control">Nombre</label>
    </div>
  </div>
  <div class="row__item">
    <div class="group__form mr_1 w__30">
      <input type="text" class="input__control" placeholder=" " />
      <label class="label__control">CM</label>
    </div>
    <div class="group__form">
      <input type="text" class="input__control" placeholder=" " />
      <label class="label__control">Nombre Medico</label>
    </div>
  </div>
  <div class="group__form">
    <input type="text" class="input__control" placeholder=" " />
    <label class="label__control">Especialidad</label>
  </div>
  <div class="row__item">
    <div class="group__form mr_1 w__30">
      <input type="text" class="input__control" placeholder=" " />
      <label class="label__control">Dx</label>
    </div>
    <div class="group__form">
      <input type="text" class="input__control" placeholder=" " />
      <label class="label__control">Descripcion</label>
    </div>
  </div>

  <div class="group__form w__30">
    <input
      type="search"
      class="input__control"
      placeholder=" "
      (keyup)="searchMedicamento($event.target)"
    />
    <label for="" class="label__control">Buscar medicamento</label>
  </div>

  <ul *ngIf="parametersSearch">
    <li
      *ngFor="
        let medicamento of medicamentos$
          | async
          | filterMedicamento: parametersSearch
      "
      (click)="selectMedicamento(medicamento)"
    >
      {{ medicamento.descripcion }}
    </li>
  </ul>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="table__desktop">
      <div
        class="row__header__desktop animate__animated animate__fadeIn"
        *ngIf="tieneDetalle"
      >
        <div class="cell">Medicamento</div>
        <div class="cell">Precio</div>
        <div class="cell">Cantidad</div>
        <div class="cell">Subtotal</div>
        <div class="cell">Subtotal</div>
      </div>
      <ng-container formArrayName="detalles">
        <div
          *ngFor="let _ of detalles.controls; index as i"
          class="animate__animated animate__fadeIn"
        >
          <ng-container [formGroupName]="i">
            <div class="row__header">
              <div class="cell">Medicamento</div>
              <div class="cell">Precio</div>
              <div class="cell">Cantidad</div>
              <div class="cell">Subtotal</div>
            </div>
            <div class="row__body">
              <div class="cell">{{ detalles.value[i].descripcion }}</div>
              <div class="cell">{{ detalles.value[i].precio }}</div>
              <div class="cell">
                <input
                  type="number"
                  formControlName="cantidad"
                  class="input__table"
                />
              </div>
              <div class="cell">
                <input
                  type="number"
                  formControlName="subtotal"
                  class="input__table"
                />
              </div>
              <div class="cell">
                <img
                  src="../../../../assets/icon/delete_black_white.svg"
                  (click)="deleteMedicamento(i)"
                />
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="table__pie" *ngIf="total$ | async as total">
      <b> Total:&nbsp;&nbsp;</b>S./{{ total }}
    </div>

    <div class="group__form">
      <button class="btn">Guardar</button>
    </div>
  </form>
</div>
