<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="container flex__column animate__animated animate__fadeIn">
    <h1 class="text__title">Registrar Receta Medica</h1>
    <div class="row__item">
      <div class="group__form mr_1 w__30">
        <input
          type="text"
          class="input__control"
          placeholder=" "
          formControlName="historia"
        />
        <label class="label__control">Historia</label>
      </div>

      <div class="group__form">
        <input
          type="text"
          class="input__control"
          placeholder="Busqueda de paciente"
          formControlName="paciente"
          (keyup)="searchPaciente($event.target)"
        />
        <label class="label__control">Paciente</label>
        <div
          class="dropdown__content animate__animated animate__fadeIn"
          *ngIf="searchPacienteParameter"
        >
          <div
            (click)="selectPaciente(paciente)"
            class="dropdown__item"
            *ngFor="
              let paciente of pacientes$
                | async
                | filterPaciente: searchPacienteParameter
            "
          >
            {{ paciente.paciente | titlecase }}
          </div>
        </div>
      </div>
    </div>
    <div class="row__item">
      <div class="group__form mr_1 w__30">
        <input
          type="text"
          class="input__control"
          placeholder=" "
          formControlName="cmp"
        />
        <label class="label__control">CM</label>
      </div>
      <div class="group__form">
        <input
          type="text"
          class="input__control"
          placeholder=" "
          formControlName="medicoDescripcion"
        />
        <label class="label__control">Nombre Medico</label>
      </div>
    </div>
    <div class="group__form">
      <input
        type="text"
        class="input__control"
        placeholder=" "
        formControlName="especialidad"
      />
      <label class="label__control">Especialidad</label>
    </div>
    <div class="row__item">
      <div class="group__form mr_1 w__30">
        <input
          type="text"
          class="input__control"
          placeholder=" "
          formControlName="dx"
        />
        <label class="label__control">Dx</label>
      </div>

      <div class="group__form">
        <input
          type="text"
          class="input__control"
          placeholder=" "
          formControlName="descripcionDiagnostico"
          (keyup)="searchDiagnostico($event.target)"
        />
        <label class="label__control">Descripcion</label>

        <div
          class="dropdown__content animate__animated animate__fadeIn"
          *ngIf="searchDiagnosticoParameter"
        >
          <div
            (click)="selectDiagnostico(diagnostico)"
            class="dropdown__item"
            *ngFor="
              let diagnostico of diagnostico$
                | async
                | filterDiagnostico: searchDiagnosticoParameter
            "
          >
            {{ diagnostico.descripcion | titlecase }}
          </div>
        </div>
      </div>
    </div>
    <div class="group__form">
      <input
        type="text"
        class="input__control"
        placeholder=" "
        formControlName="nota"
      />
      <label class="label__control">Nota</label>
    </div>

    <div class="group__form w__30">
      <input
        type="search"
        class="input__control"
        placeholder="Busqueda de medicamento"
        (keyup)="searchMedicamento($event.target)"
      />
      <label for="" class="label__control">medicamento</label>
      <div
        class="dropdown__content animate__animated animate__fadeIn"
        *ngIf="SearchMedicamentoParameter"
      >
        <div
          (click)="selectMedicamento(medicamento)"
          class="dropdown__item"
          *ngFor="let medicamento of medicamentos$ | async"
        >
          {{ medicamento.nombre | titlecase }}
        </div>
      </div>
    </div>

    <div class="table__desktop">
      <div
        class="row__header__desktop animate__animated animate__fadeIn"
        *ngIf="tieneDetalle"
      >
        <div class="cell">Producto</div>
        <div class="cell">Cantidad</div>
        <div class="cell">Posología</div>

        <div class="cell">&nbsp;</div>
      </div>
      <ng-container formArrayName="items">
        <div
          *ngFor="let _ of detalles.controls; index as i"
          class="table animate__animated animate__fadeIn"
        >
          <ng-container [formGroupName]="i">
            <div class="row__header">
              <div class="cell">producto</div>
              <div class="cell">Cantidad</div>
              <div class="cell">Posología</div>

              <div class="cell">&nbsp;</div>
            </div>
            <div class="row__body">
              <div class="cell overly__y">
                {{ detalles.value[i].descripcion }}
              </div>
              <div class="cell">
                <input
                  type="number"
                  formControlName="cantidad"
                  class="input__table w__50"
                />
              </div>

              <!-- <div class="cell">{{ detalles.value[i].precio }}</div> -->
              <div class="cell">
                <input
                  type="text"
                  class="input__table"
                  formControlName="posologia"
                />
              </div>
              <!-- <div class="cell">
                <input
                  type="number"
                  formControlName="subtotal"
                  class="input__table w__70"
                />
              </div> -->
              <div class="cell">
                <img
                  src="../../../../assets/icon/delete_black_white.svg"
                  (click)="deleteMedicamento(i)"
                />
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <!-- <div class="table__pie" *ngIf="total$ | async as total">
      <b> Total:&nbsp;&nbsp;</b>S./{{ total }}
    </div> -->

    <div class="group__form">
      <button class="btn">Guardar</button>
    </div>
  </div>
</form>

<pre>
  {{ form.value | json }}

</pre>
