.nav__main {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #fff;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #005ead;
  padding: 0.5rem;
}

.nav__item {
  height: 100%;
  cursor: pointer;
}

.text__center {
  text-align: center;
}

.mr__05rem {
  margin-right: 0.5rem;
}

.p__0 {
  padding: 0;
}

span {
  color: #fff;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

/* .image__icon {
  margin: 0 5px 0 0;
} */

/* .image-icon:hover {
  filter: drop-shadow(2px 4px 8px #5c5c5c);
} */

.nav__title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 768px) and (min-width: 992px) {
  .nav__title {
    width: 30%;
    text-align: none;
    font-size: 1.5rem;
  }
}
