.nav-main {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.nav-item {
  padding: 1rem 2rem;
}

.h-1 {
  font-size: 2rem;
  font-weight: 600;
  color: #005ead;
}
