.nav-main {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2); */
  border-bottom: 1px solid #dbdbdb;
}

.nav-item {
  padding: 1.5rem 2rem;
}

.nav-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #005ead;
}
